# Logs and cache
**/*.log
**/*.cache
**/._*

# Development files
**/*.php~
**/*.dist.php
**/*.dist
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
.github/
.editorconfig

# Documentation
**/*.md
docs/

# Docker files
**/.dockerignore
**/Dockerfile
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml

# Environment files
.env.*.local
.env.local
.env.local.php
.env.test

# Local development directories
public/bundles/
tests/

# Keep var and vendor but ignore specific subdirectories
var/cache/*
var/log/*
!var/cache/.gitkeep
!var/log/.gitkeep
vendor/*/Tests/
vendor/*/tests/
vendor/**/.git/
